/* # 선택자(selector) */



header{
    height:170px;
}

nav{
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

#header-top{
    float:right;
    margin-top:8px;
}

#header-top span{
    color:#888;
    letter-spacing:-1px;
    font-size: 11px;
    line-height : 22px;
    
}

#header-search {
    clear:both;
    padding-top:45px;
}

#header-search a {
    text-decoration:none;
}

div#header-search h1 {
    width: 198px;
    height: 50px;
    display : inline-block;
    /* background-image : url(./sp_search.png);
    background-position : -4px -6px;
    background-repeat: no-repeat; */
    text-indent : 101%;
    overflow:hidden;
    background: url(./sp_search.png) -4px -3px no-repeat;
    vertical-align: middle;
    position: relative;
    
    top: -5px;
    left:1px;
}

div#header-search h1 span{
    display : none;
}

/* #header-center h1{
    자손 선택자
} */

/* div#header-search h2 {
    display : none;
} */

div#header-search fieldset{
    margin-left : 20px;
    padding : 12px 0px 12px 10px;
    width : 520px;
    height : 49px;
    display : inline-block;
    border: 2px solid #19ce60;
    box-sizing : border-box;
    vertical-align: middle;
    position: relative;
}

div#header-search fieldset input {
    border:none;
    padding : 0;
    margin : 0;
    outline : none;
    vertical-align: middle;
    width:395px;
    height: 23px;
    margin-right: 10px;

}

div#header-search fieldset button {
    width : 49px;
    height : 49px;
    border : none;
    padding : 0;
    background : #19ce60;
    position: absolute;
    top: -2px;
    right: -2px;

}

span#search-image {
    background-image: url(./sp_search.png);
    background-position: -4px -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin: 14px;
}

#search-keyboard {
    width:19px;
    height:11px;
    background-image:url(./sp_search.png);
    background-repeat:no-repeat;
    background-position: -33px -60px;
    display:inline-block;
    position:absolute;
    top: 17px;
    right: 78px;
    margin:0 6px;
    

}

#search-history{
    width:9px;
    height: 4px;
    background-image:url(./sp_search.png);
    background-repeat:no-repeat;
    background-position: -87px -60px;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    top: 20px;
    right: 58px;
    margin:0 6px;
    
}

#fixed{
    position : fixed;
    top:50px;
    right:50px;
    display : inline-block;
    width : 100px;
    height : 100px;
    border : 1px solid black;
    border-radius : 50px;
    vertical-align: middle;

}

#nav-menu {
    list-style: none;
    margin:0;
    padding : 12px 0;
    display:inline-block;

}

#nav-menu li{
    display:inline-block;
}

#nav-menu li span:first-child{
    height: 16px;
    display : inline-block;
    background-image : url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat:no-repeat;
    margin-left:10px;
}


#nav-menu li:first-child span:first-child{
    width : 25px;
    background-position: 0 -285px;
}

#nav-menu li:nth-child(2) span:first-child{
    width: 27px;
    background-position: -279px -52px;
}

#nav-menu li:nth-child(3) span:first-child{
    width: 40px;
    background-position: -100px -182px;

}

#nav-menu li:nth-child(4) span:first-child{
    width: 40px;
    background-position: -101px -156px;

}

#nav-menu li:nth-child(5) span:first-child{
    width: 26px;
    background-position: -279px -156px;

}

#nav-menu li:nth-child(6) span:first-child{
    width: 25px;
    background-position: -70px -285px;
    
}

#nav-menu li:nth-child(7) span:first-child{
    width: 32px;
    background-position: -125px -131px;
    
}


 /* 사전 */
 #nav-menu li:nth-child(8) span:first-child{
    width: 26px;
    background-position: -279px -208px;
    
}

/* 뉴스 */
#nav-menu li:nth-child(9) span:first-child{
    width: 28px;
    background-position: -128px -104px;
}

/* 증권 */
#nav-menu li:nth-child(10) span:first-child{
    width: 26px;
    background-position: -36px -260px;
    
}

/* 부동산 */
#nav-menu li:nth-child(11) span:first-child{
    width: 40px;
    background-position: -151px -156px;
    
}

/* 지도 */
#nav-menu li:nth-child(12) span:first-child{
    width: 32px;
    background-position: -280px -130px;
    
}

/* 영화 */
#nav-menu li:nth-child(13) span:first-child{
    width: 32px;
    background-position: -234px -233px;
    
}

/* 뮤직 */
#nav-menu li:nth-child(14) span:first-child{
    width: 32px;
    background-position: -72px -259px;
}


/* 책 */
#nav-menu li:nth-child(15) span:first-child{
    width: 20px;
    background-position: -140px -78px;
    
}

/* 웹툰 */
#nav-menu li:nth-child(16) span:first-child{
    width: 32px;
    background-position: -280px -0px;
    
}

.nav-divider{
    display:inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

/* 더보기 */

#more-thing{
    display:inline-block;
    list-style: none;
    margin:0;
    padding : 12px 0;
}

#more-thing li span:first-child{
    
    height: 16px;
    width: 58px;
    display : inline-block;
    background-image : url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat:no-repeat;
    background-position: 1px -103px;
    

}



#search-ranking {
    position:absolute;
    top:12px;
    right: 0;
    width: 198px;
    height: 20px;

}



#search-ranking-box { 
    display:none;
    list-style:none;
    padding:0;
    margin:0;
    width: 350px;
    height: 334px;
    border : 1px solid #eee;
    background: white;
    padding : 17px;
    position : absolute;
    top : -15px;
    right : 0;

}

#search-ranking:hover #search-ranking-box{
    display: inline-block;
    
}


#ranking-first-box{
    display:inline-block;
    width : 100%;
    margin-bottom:5px;
    vertical-align: top;
}
#ranking-first-box span{
    float:left;
    
}
#ranking-first-box ul{
    height:100%;
    float:right;
    vertical-align: top;
    margin: 0;
}

#ranking-first-box ul li{
    display:inline;
    
}

#ranking-second-box{
    width:100%;
    position: relative;
    display:inline-block;
    vertical-align: top;
    margin-bottom:5px;
    
}

#ranking-second-box div:first-child {
    float:left;
    width:calc(100%/2);
    height : 30px;
    border-left : 1px solid #eee;
    border-top : 1px solid #eee;
    border-bottom : 1px solid #eee;
    text-align : center;
    
}

#ranking-second-box div:last-child{
    float:left;
    width:calc(100%/2);
    height : 30px;
    border : 1px solid #eee;
    text-align : center;
}

#ranking-second-box div span{
    position: relative;
    top:2px;

}

#ranking-third-box{
    display:inline-block;
    list-style: none;
    vertical-align: top;
    margin-top:0px;
    margin-bottom:5px;
    padding:0;
    width:100%;
}

#ranking-fourth-box{
    display:inline-block;
    margin :0px;
    padding : 0;
    width:100%;
}

#ranking-fourth-box span:first-child{
    float:left;
}

#ranking-fourth-box span:nth-child(2){
    float:left;
}

#ranking-fourth-box span:nth-child(4){
    float:right;
}

#ranking-fourth-box span:last-child{
    float:right;
}


#rank-number{
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
    vertical-align: top;
    z-index : 1;

}

#rank-title {
    letter-spacing: -1px;
    font-size: 14px;
    vertical-align: top;
    
}


main{
    background-color:#f2f4f7;
    display:inline-block;
    width:100%;
}

#main-centered {
    padding: 8px 10px;
    width: 1118px;
    vertical-align:top;
    
    
}

#main-first-block{
    display:inline-block;
    width:100%;
    vertical-align: top;
}

#main-ad{
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
    float:left;
}

#main-login{
    width: 350px;
    height: 120px;
    vertical-align:top;
    background-color:white;
    float:left;
    margin-bottom:8px;
}




#main-login .login-wrapper{
    padding: 15px 25px;
}

#main-login .login-wrapper a{
    display:block;
}

#main-login .login-text{
    color: #888;
    font-size : 12px;
    line-height : 14px;

}

#main-login .login-image {
    margin-top:12px;
    display:inline-block;
    vertical-align: top;
    background:url(./sp_login.png) 0 -47px no-repeat;
    width:280px;
    height:37px;
}

#main-login .login-signup{
    float : right;
    font-size : 12px;
    line-height : 38px;
    color: #666;
    text-decoration: none;
}

#main-login .login-signup:hover{
    text-decoration:underline;
}

 

#main-second-block {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}

#main-second-block .float-left:first-child{
    width: 740px;
    margin-right : 8px;
}

#main-second-block .float-left:last-child{
    width: 332px;
    vertical-align : top;
    
}

#main-ytn h3, #main-newsstand h3{
    font-size: 14px;
    font-family : NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    padding-top : 15px;
    padding-left : 15px;
}

.float-left{
    float:left;
}


#main-ytn{
    display:inline-block;
    width: 740px;
    height: 46px;
    background-color:white;
    margin-bottom: 8px;
}

#main-ytn h3,
#main-ytn ol{
    display:inline-block;
}

#main-newsstand{
    display: inline-block;
    width:740px;
    height:246px;
    background-color:white;
    vertical-align:top;

}

#main-newsstand h3{
    height:45px;
    border-bottom: 1px solid #ebeef5;
} 

#main-newsstand ul {
    margin :0;
    padding :0;
    list-style: none;
    display:inline-block;
    
}

#main-newsstand li{
    float:left;
    width: calc(100% / 6);
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align:center;

}

#main-newsstand li img{
    position : relative;
    top: 50%;
    transform: translateY(-50%);
    
}

#main-weather{
    display:inline-block;
    width: 350px;
    height: 142px;
    margin-bottom: 8px;
    background-color:white;
    vertical-align:top;
}

#main-second-ad{
    display:inline-block;
    width: 350px;
    height: 150px;
    background: #555;
    vertical-align:top;
}

#main-category{
    float:left;
    width:740px;
    height:1191px;
    background:white;
    margin-bottom: 8px;
    margin-right: 8px;


}

#main-shopping{
    float:left;
    width:350px;
    height:1191px;
    background:white;
    margin-bottom: 8px;

}

#main-shopping iframe{
    width : 100%;
    height : 100%;
    display : inline-block;
    overflow:hidden;
}

#main-third-block,
#main-fourth-block{
    vertical-align : top;
    display: inline-block;
    width: 100%;

}

#main-event{

    float:left;
    width:740px;
    height:130px;
    background:white;
    margin-right: 8px;

}

#main-third-ad{

    float:left;
    width:350px;
    height:130px;
    background:#555;
    vertical-align: top;
}

#main-category-top{
    display:inline-block;
    width: 100%;
}

#subject-list, #subject-all, #subject-prev, #subject-next{
    float:left;
    height:45px;
    padding:0;
}

#subject-list{
    width : 603px;
    position:relative;
}

#subject-list ul{
    list-style:none;
    margin:0;
    padding:0;
    white-space : nowrap;
    overflow:hidden;
    height:45px;
    width : 700px;
}



#subject-list ul li{
    float:left;
    margin-right:10px;
    padding: 14px 7px 0;
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
}

.opacity{
    opacity: 0.5;
    background:white;

}

.opacity.left{
    position: absolute;
    left: 0;
    top:0;
    height:45px;
    width:15px;

}

.opacity.right{
    position: absolute;
    left: 0;
    top:0;
    height:45px;
    width:15px;
}

#subject-list li.highlight {
    border-bottom: 3px solid #00c73c;
    color : #00b336;
    font-weight:700;
    height : 45px;
}

#subject-all {
    border-right: 1px solid #ebeef3;
}

#subject-all, #subject-prev, #subject-next{
    position: relative;
    width:45px;
    border: none;
    border-left: 1px solid #ebeef3;
    background: white;
}

    
#subject-all span:last-child{
    position:absolute;
    top: 15px;
    left:12px;
    width:20px;
    height:14px;
    background-image:url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position : -218px -257px;
}

#subject-prev span:last-child{
    position:absolute;
    top: 15px;
    left:16px;
    width:8px;
    height:16px;
    background-image:url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px 0;
}

#subject-next span:last-child{
    position:absolute;
    top: 15px;
    left:16px;
    width:8px;
    height:16px;
    background-image:url(./sp_themecast.png);
    background-repeat: no-repeat;
    background-position: -320px -52px;
}